.list-chooser {
	width: 100%;
	height: 90vh;
}

.toggle-switch {
	margin: 1rem 0;
}

.list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 10vh;
	overflow: auto;
	background-color: #f0f4ef;
	padding: 1rem;
}
